/* Especificidad = 1 */
h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #3a6d9c;
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 70px 25px;
}
/* Especificidad = 1 */
h2{
  font-size: 30px;
  font-weight: 600;
  color: #0a0dc4;
  background-color: white;
  padding: 30px 25px;
  text-align: left; 
  font-family: Georgia, serif;
}
/* Especificidad = 1 */
h3{
  font-size: 24px;
  font-weight: 600;
  color: #282835;
  background-color:white;
  text-align: center; 
  font-family: Georgia, serif;
}
/* Especificidad = 2 */
p, li {
  line-height: 2;
  letter-spacing: 1px;
}
/* Especificidad = 1 */
html {
  background-color: #021322;
}
/* Especificidad = 1 */
body {
  margin:2%;
  line-height: 1.6;
  background-color: white;
  color: black;
  border: 5px solid white;
  display: flex;
  font-family: Helvetica, sans-serif;
  flex-wrap: wrap;
}
/* Especificidad = 1 */
table {
  margin:auto; 
  text-align: center;
}
/* Especificidad = 2 */
tr, td {
  width: 25%;
  text-align: center;
}
/* Especificidad = 1 */
ul{
  color: black;
  text-align: left;
}
/* Especificidad = 1 */
section,article{
  width: 100%;
  text-align:center;
  background-color: white;
}
/* Especificidad = 1 */
header
{
	width: 100%;
}
/* Especificidad = 10 */
.menu {
  background-color: white;
  overflow: hidden;
}
/* Especificidad = 11 */
.menu a {
  float: left;
  color: #2c0803;
  text-align: center;
  padding: 15px 15px;
  font-size: 20px;
  border: 2px solid black;
}
/* Especificidad = 12 */
.menu a:hover {
  background-color: white;
  color: #0a0dc4;
}
footer{
  width: 100%;
}